.name-input-container {
  height: 151px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}

#name-input {
  position: absolute;
  top: 102%;
  right: 48%;
  width: 15%;
  height: 30px;
  font-size: 20px;
}

.set-name {
  position: absolute;
  top: 98%;
  right: 65%;
  font-size: 20px;
}

.set-name-button {
  position: absolute;
  top: 103%;
  right: 44%;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.reset-name-button {
  position: absolute;
  top: 103%;
  right: 39%;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.parent-controls {
  position: absolute;
  top: 116%;
  right: 54%;
}

.on {
  position: absolute;
  top: 116%;
  right: 51%;
}

.off {
  position: absolute;
  top: 116%;
  right: 46%;
}

.on-radio {
  position: absolute;
  top: 121%;
  right: 49%;
}

.off-radio {
  position: absolute;
  top: 121%;
  right: 44%;
}
